body {
    line-height: 1.2;
    height: 100%;
    background: #ffffff url('../img/bg.jpg') no-repeat center top;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

html {
    position: relative !important;
    min-height: 100% !important;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************
***********************************/
/**********************************
***********************************/
.content {
    margin-top: 50px;
    color: #fff;
}

.logo h2 {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    padding-top: 40px;
}

#countdown {
    text-align: center;
    margin: 110px 0px 69px;
    min-height: 104px;
}

#countdown > div {
    width: 100px;
    height: 100px;
    margin: 0px 1%;
    display: inline-block;
    font-size: 20px;
    line-height: 52px;
    position: relative;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

#countdown > div > span {
    display: block;
}

.input-group-addon {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sub-p {
    font-size: 14px;
    padding: 5px 0px 15px;
}

.section-padding {
    padding: 60px;
}

.about-title h2 {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
}

.img {
    margin-top: 30px;
}

.img i {
    font-size: 44px;
}

.abt-hd {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 15px;
}

/**********************************
Media Queries
***********************************/
@media (min-width: 501px) and (max-width: 901px) {

    .section-padding {
        padding: 60px 30px;
    }

    body {
        overflow-x: hidden;
    }
}

@media (min-width: 20px) and (max-width: 500px) {
    .section-padding {
        padding: 60px 30px;
    }
}